<script setup lang="ts">
import { useEmployee } from '@/stores/EmployeeStore'
const employeeStore = useEmployee()
</script>

<template>
  <div style="width: 90%">
    <v-card-title class="d-flex align-center pe-2">
      <v-spacer></v-spacer>
      <v-text-field
        v-model="employeeStore.search"
        prepend-inner-icon="mdi-magnify"
        density="compact"
        label="Search"
        single-line
        flat
        hide-details
        variant="outlined"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      v-model:page="employeeStore.page"
      :headers="employeeStore.headers"
      :items="employeeStore.filteredEmployee"
      :items-per-page="employeeStore.itemsPerPage"
    >
      <template v-slot:top>
        <v-toolbar flat color="orange-lighten-3">
          <v-toolbar-title>
            <v-icon icon="mdi-account"></v-icon>
            Employee</v-toolbar-title
          >
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="employeeStore.dialog" persistent width="1024">
            <template v-slot:activator="{ props }">
              <v-btn color="blue" v-bind="props" variant="outlined">
                <v-icon icon="mdi-plus" size="large"></v-icon>
                New Employee
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">New Employee</span>
              </v-card-title>
              <v-card-text>
                <v-form
                  ref="refForm"
                  v-model="employeeStore.form"
                  @submit.prevent="employeeStore.onSubmit"
                >
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="6">
                        <v-text-field
                          v-model="employeeStore.editedEmployee.name"
                          :readonly="employeeStore.loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Name"
                        ></v-text-field>
                      </v-col>

                      <v-col cols="12" sm="12" md="6">
                        <v-text-field
                          v-model="employeeStore.editedEmployee.email"
                          :readonly="employeeStore.loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Email"
                        ></v-text-field>
                      </v-col>

                      <v-col cols="12" sm="12" md="12">
                        <v-text-field
                          v-model="employeeStore.editedEmployee.tel"
                          :readonly="employeeStore.loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          clearable
                          label="Tel"
                        ></v-text-field>
                      </v-col>

                      <v-col cols="12" sm="12" md="12">
                        <v-text-field
                          v-model="employeeStore.editedEmployee.password"
                          :readonly="employeeStore.loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          clearable
                          label="Password"
                          placeholder="Enter your password"
                        ></v-text-field>
                      </v-col>

                      <v-col cols="12" sm="6">
                        <v-combobox
                          label="Gender"
                          :items="['male', 'famale', 'others']"
                          v-model="employeeStore.editedEmployee.gender"
                        ></v-combobox>
                      </v-col>

                      <v-col cols="12" sm="6">
                        <v-combobox
                          v-model="employeeStore.editedEmployee.roles"
                          :items="[
                            { title: 'Manager', value: 'manager' },
                            { title: 'Staff', value: 'staff' }
                          ]"
                          label="Roles"
                          multiple
                          :return-object="false"
                        ></v-combobox>
                      </v-col>
                    </v-row>
                  </v-container>

                  <br />
                </v-form>
                <small>*indicates required field</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="employeeStore.closeDialog()">
                  Close
                </v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="employeeStore.save()">
                  Save
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="employeeStore.dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5"
                >Are you sure you want to delete this item?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="employeeStore.closeDelete"
                  >Cancel</v-btn
                >
                <v-btn color="blue-darken-1" variant="text" @click="employeeStore.deleteItemConfirm"
                  >OK</v-btn
                >
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon size="small" class="me-2" @click="employeeStore.editItem(item)">
          mdi-pencil
        </v-icon>
        <v-icon size="small" @click="employeeStore.deleteItem(item)"> mdi-delete </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="employeeStore.initialize"> Reset </v-btn>
      </template>
      <template v-slot:bottom>
        <div class="text-center pt-2">
          <v-pagination
            v-model="employeeStore.page"
            :length="employeeStore.pageCount"
          ></v-pagination>
        </div>
      </template>
    </v-data-table>
  </div>
</template>
