<script setup lang="ts">
import MainApp from './components/MainApp.vue'
</script>

<template>
  <MainApp></MainApp>
</template>

<style scoped>
* {
  font-family: "Lucida Console", 'Helvetica', monospace;

}
</style>
